*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
}

.img__header{
    width: 100vw;
    height: 100vh;
}

.nav__header{
    width: 100vw;
    height: 9.2rem;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top:100%;

}

.img2__header{
    width: 80px;
}

.ul__header{
    display: flex;   
    align-items: center;
}

.li__header{
    margin-left: 5px;
    cursor: pointer;
}
.li__header:first-child{
    margin-left: 10px;
    border-radius: 20px;
    
}

.input__header{
    margin-right: 35px;
    border-radius: 5px;
}

.main{
    display: grid;
    grid-template-areas: "a b" "a b" ;
    margin-top: 8rem;
    
    
}

.section__main{
    width: 85vw;
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav__main{
    grid-area: b;
    margin-right: 13rem;
   
}    

.img__main{
    width: 50rem;
    
}

.p__main{
    width: 50rem;
    text-align: center;
}
.section2__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button__main{
    width: 10rem;
    margin: 0 auto;
    
}